ion-list {
  padding: 0;
}

ion-label {
  margin: 0;
  padding: 10px 0;
  overflow: auto;
}

.gif ion-item {
  --inner-padding-end: 0;
  --padding-start: 0;
  position: relative;
}

.gif ion-spinner {
  margin: auto;
  position: absolute;
  left: 0px;
  right: 0px;
  z-index: 1;
  background-color: var(--ion-color-dark);
  border: 10px solid var(--ion-color-dark);
  border-radius: 5px;
  padding: 20px;
}

ion-list-header {
  text-align: left;
  align-items: center;
  background-color: var(--ion-color-light);
  border-bottom: 10px solid var(--ion-color-medium);
}

ion-list-header ion-button {
  margin: 0;
}

.preload-background {
  width: 100%;
  height: auto;
}

video {
  width: 100%;
  height: auto;
  margin: auto;
  background: transparent;
}
