<ion-list>
  <div class="gif" *ngFor="let gif of gifs">
    <ion-item
      button
      detail="false"
      data-test="gif-list-item"
      (click)="playVideo($event, gif)"
    >
      <ion-spinner color="light" *ngIf="gif.loading"></ion-spinner>
      <div
        [style.background]="
          'url(' + gif.thumbnail + ') 50% 50% / cover no-repeat'
        "
        [ngStyle]="
          gif.dataLoaded
            ? { filter: 'blur(3px) brightness(0.6)', transform: 'scale(1.1)' }
            : {}
        "
        class="preload-background"
      >
        <video
          playsinline
          poster="none"
          preload="none"
          [loop]="true"
          [muted]="true"
          [src]="gif.src"
        ></video>
      </div>
      <ion-label>{{ gif.title }}</ion-label>
    </ion-item>
  </div>
</ion-list>
