<ion-header>
  <ion-toolbar color="primary">
    <app-search-bar
      [subredditFormControl]="subredditFormControl"
    ></app-search-bar>
    <ion-buttons slot="end">
      <ion-button
        id="settings-button"
        data-test="settings-button"
        (click)="settingsModalIsOpen$.next(true)"
      >
        <ion-icon slot="icon-only" name="settings"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-progress-bar
    data-test="loading-bar"
    color="dark"
    *ngIf="redditService.isLoading$ | async"
    type="indeterminate"
    reversed="true"
  ></ion-progress-bar>
</ion-header>

<ion-content>
  <ng-container
    *ngIf="{gifs: gifs$ | async, settings: settings$ | async} as vm"
  >
    <app-gif-list
      [gifs]="vm.gifs"
      (gifLoadStart)="setLoading($event)"
      (gifLoadComplete)="setLoadingComplete($event)"
    ></app-gif-list>

    <ion-infinite-scroll
      *ngIf="(vm.gifs && vm.settings) && vm.gifs.length >= vm.settings.perPage"
      threshold="100px"
      (ionInfinite)="loadMore($event, vm.gifs)"
    >
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Fetching gifs..."
      >
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ng-container>
</ion-content>

<ion-popover
  trigger="settings-button"
  [isOpen]="settingsModalIsOpen$ | async"
  (ionPopoverDidDismiss)="settingsModalIsOpen$.next(false)"
>
  <ng-template>
    <app-settings></app-settings>
  </ng-template>
</ion-popover>
