<ion-header>
  <ion-toolbar>
    <app-search-bar [formControl]="subredditFormControl"></app-search-bar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-gif-list
    [gifs]="gifs$ | async"
    (gifLoadStart)="setLoading($event)"
    (gifLoadComplete)="setLoadingComplete($event)"
  ></app-gif-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Fetching gifs..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
